/ApartmentRentalApplication/nbproject/private/
/ApartmentRentalApplication/build/
/ApartmentRentalApplication/dist/
/InterviewPractice/nbproject/private/
/InterviewPractice/build/
/InterviewPractice/dist/
/CRUD/nbproject/private/
/CRUD/build/